.time-box{
    margin-left: 100px;
    line-height: 50px;
}

a:hover{
    transition: 0.2s ease-out;
    transform: translateX(4px);
    display: inline-block;
    color: #4D89FB;
}

.time-box>a>span{
    margin: 0px 30px;
    color: #aaa;
}
.time-box>h1{
    font-weight: 400;
}
