{% extends "base.html" %}
{% block title %}
<title>时间轴</title>
{% endblock %}
{% block css %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/archives.css') }}">
{% endblock %}
{% block content %}
    {% for year in articles.years %}
        <div class='time-box'>
            <h1>{{ year }}</h1>
            {% for article in articles[year] %}
            <a href="/article/{{article.id}}"><span>{{article.create_time.strftime('%Y-%m-%d')}}</span>{{ article.title }}</a><br>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
