{% extends "base.html" %}

{% block title %}
<title>个人博客</title>
{% endblock %}

{% block css %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div id='left-content'>
        {% for article in articles %}
        <div class='article'>
            <h1 class='title'><a href="{{article.url}}">{{article.title}}</a></h1>
            <span>{{article.created}}</span>
        </div>
        {% endfor %}
    </div>
    <div id='right-content'>
    </div>
    <div class='clear'>
        {% if pages.previous %}
            <a href="{{pages.previous}}">上一页</a>
        {% endif %}
            &nbsp&nbsp&nbsp&nbsp
        {% if pages.next %}
            <a href="{{pages.next}}">下一页</a>
        {% endif %}
    </div>
{% endblock %}
